/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


//Positions
// -----------------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |               |  6  |  7  |  8  |  9  |  10  |  11  |
// |  12 |  13 |  14 |  15 |  16 |  17 |               |  18 |  19 |  20 |  21 |  22  |  23  |
// |  24 |  25 |  26 |  27 |  28 |  29 |               |  30 |  31 |  32 |  33 |  34  |  35  |
//                         | 36 | 37 | 38 |         | 39 | 40 | 41 |




#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>






/ {



    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };


    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };
        
        combo_lshift {
            timeout-ms = <50>;
            key-positions = <25 26>;
            bindings = <&sk LSHIFT>;
        };
        
        combo_rshift {
            timeout-ms = <50>;
            key-positions = <33 34>;
            bindings = <&sk RSHIFT>;
        };
        
        combo_lgui {
            timeout-ms = <50>;
            key-positions = <36 37>;
            bindings = <&sk LGUI>;
        };
    };




        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | XXX       |  Q  |  W  |  E  |  R  |  T  |               |  Y  |  U   |  I  |  O  |  P     | XXXX |
// | XXX       |  A  |  S  |  D  |  F  |  G  |               |  H  |  J   |  K  |  L  |lay3/;  | XXXX |
// | XXX       |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /     | XXXX |
//                         | LALT | LCTL | SPC |         | ENT | BCK  | L1 |



                        bindings = <
   &trans         &kp Q     &kp W    &kp E  &kp R    &kp T                              &kp Y   &kp U  &kp I     &kp O   &kp P         &trans
   &trans         &kp A     &kp S    &kp D  &kp F    &kp G                              &kp H   &kp J  &kp K     &kp L   &lt 3 SEMI    &trans
   &trans         &kp Z     &kp X    &kp C  &kp V    &kp B                              &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH      &trans
                                      &sk LALT &sk LCTRL &kp SPACE         &kp RET  &kp BKSP   &to 1
                        >;
                };
                
                
                
                
                
                number_layer {
// -----------------------------------------------------------------------------------------
// |  XXX |  GESC  |  2  |  3  |  4  |  5  |                     | 7  |  8  |  9  |  -  |    | XXX |
// |  XXX |  TAB   |  @  | #   | $   | %   |                     | 4  |  5  |  6  |  =  |    | XXX |
// |  XXX |        |     |     |     |     |                     | 1  |  2  |  3  | ENT |    | XXX |
//                           | GUI |     | SPC |               | 0 |  .  | L0 |


                        bindings = <                                                          
   &trans     &kp ESC     &kp N2       &kp N3       &kp N4       &kp N5                              &kp N7    &kp N8   &kp N9   &kp MINUS    &trans       &trans
   &trans     &kp TAB     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT                           &kp N4    &kp N5   &kp N6   &kp EQUAL    &kp ENTER    &trans
   &trans     &trans      &trans       &trans       &trans       &trans                              &kp N1    &kp N2   &kp N3   &kp ENTER    &kp ENTER       &trans
                          	                      &trans     &trans       &trans              &kp N0   &kp DOT    &to 0
                        >;
                };
                
                
                
                raise_layer {
// -----------------------------------------------------------------------------------------
// | GESC    |  F1   |  F2    |  F3  |  F4  |  F5  |                    |  F6  |  F7  |  F8  |  F9  |  F10  | BKSP |
// | TAB/CTRL|  F11  |  F12   |      |      |       |                   |  -   |  =   |  [   |  ]   |  \    |  `   |
// | SHFT    |       |        |      |      |       |                   |  _   |  +   |  {   |  }   | "|"   |  ~   |
//                                | GUI | ALT | SPC |          | ENT | LWR | RSE |


                        bindings = <
   &trans        &kp  F1   &kp F2    &kp F3   &kp F4   &kp F5                        &kp F6    &kp F7    &kp F8          &kp F9   &kp F10  &trans
   &trans        &kp F11   &kp F12   &trans   &trans   &trans                        &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp PIPE &trans
   &trans        &trans    &trans    &trans   &trans   &trans                        &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp BSLH &trans
                                       &trans &trans   &kp SPACE                &kp RET   &trans    &trans
                        >;
                };
                
                
                
                
                adjust_layer {
// -----------------------------------------------------------------------------------------
// |  GESC      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | TAB/CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT     |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |


                        bindings = <
   &ext_power EP_OFF    &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT         &kp CARET &kp AMPS  &kp UP          &kp LPAR  &kp RPAR  &trans
   &bt BT_CLR          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &kp MINUS &kp LEFT  &kp DOWN        &kp RIGHT &trans    &trans
   &trans              &trans       &trans       &trans       &trans       &trans            &kp UNDER &kp PLUS  &kp LBRC        &trans    &trans    &trans
                    	   &kp LGUI     &kp LALT       &kp SPACE    &kp RET           &trans    &trans
                        >;
                };                
                
                bt_layer {
// -----------------------------------------------------------------------------------------
// |  GESC      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | TAB/CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT     |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |


                        bindings = <
   &trans          &bt BT_CLR     &trans      &trans     &trans    &trans        &trans &trans &trans         &trans  &trans  &trans
   &trans          &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &kp MINUS &kp LEFT  &kp DOWN        &kp RIGHT &trans    &trans
   &trans          &trans       &trans       &trans       &trans       &trans            &kp UNDER &kp PLUS  &kp LBRC        &trans    &trans    &trans
                    	   &kp LGUI     &kp LALT       &kp SPACE    &kp RET           &trans    &trans
                        >;
                };     






        };
};
